html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f5f5f5;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.chart-container {
    flex-grow: 1;
    margin: 10px;
    margin-right: 30px;
}

.chart-box {
    background: white;
    height: 100%;
}