:root {
    --white: #ececec;
    --off-white: #e2e2e2;
    --black: #252525;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    min-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--white);
    color: var(--black);

    overflow: hidden;
    padding: 10px;
    gap: 3px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    margin-bottom: 5px;
}

.title p {
    display: inline;
}

.list {
    list-style-type: none;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.channel {
    display: none;
}

.channel:checked + label {
    background-color: aqua;
}

label {
    width: 100%;
    display: block;
    user-select: none;
}

.left-column {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 3px;
}

.selection-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 24px;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.button-group button + button {
    margin-top: 2px;
}

.plot-button {
    height: 10%;
    margin: 10px
}

.selected {
    border: 1px outset black;
}

li {
    transition: background-color .1s ease-in-out;
}

li:hover {
    background-color: var(--off-white);
}

.hidden {
    display: none;
}

#list-warning {
    padding: 0;
    margin: 0;
    height: 0;
    flex-grow: 1;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#file-drop-area {
    transition: border .25s ease-in-out;
    border: 2px dashed #aaaaaa;
    padding: 20px;
    text-align: center;
}

#file-drop-area:hover {
    border: 2px dashed #888;
}

.file-drop-label {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}